server:
  port: 8091

management:
  endpoints:
    web:
      exposure:
        include: health,info

kafka:
  bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}

soap:
  wsdl-url: ${SOAP_WSDL_URL:http://localhost:8090/ws/sales?wsdl}
